<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.advertisement.mapper.AdvertisementMapper">
    
	<sql id="advertisementColumns">
		ifnull(a.id,'') AS "id",
		ifnull(a.create_by,'') AS "createBy.id",
		a.create_date AS "createDate",
		ifnull(a.update_by,'') AS "updateBy.id",
		a.update_date AS "updateDate",
		ifnull(a.remarks,'') AS "remarks",
		ifnull(a.del_flag,'') AS "delFlag",
		ifnull(a.picture,'') AS "picture",
		ifnull(a.content,'') AS "content",
		ifnull(a.content2,'') AS "content2",
		ifnull(a.title,'') AS "title",
		ifnull(a.type,'') AS "type",
		ifnull(a.state,'') AS "state",
		a.issue_time AS "issueTime",
		ifnull(a.video,'') AS "video",
		ifnull(a.link,'') AS "link",
		ifnull(a.link2,'') AS "link2"
	</sql>
	
	<sql id="advertisementJoins">
		
	</sql>
	
    
	<select id="get" resultType="Advertisement" >
		SELECT 
			<include refid="advertisementColumns"/>
		FROM advertisement a
		<include refid="advertisementJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Advertisement" >
		SELECT 
			<include refid="advertisementColumns"/>
		FROM advertisement a
		<include refid="advertisementJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
            <if test="state != null and state != ''">
                AND a.state = #{state}
            </if>
            <if test="title != null and title != ''">
                AND a.title LIKE
                <if test="dbName == 'oracle'">'%'||#{title}||'%'</if>
                <if test="dbName == 'mssql'">'%'+#{title}+'%'</if>
                <if test="dbName == 'mysql'">concat('%',#{title},'%')</if>
            </if>
            <if test="type != null and type != ''">
                AND a.type = #{type}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Advertisement" >
		SELECT 
			<include refid="advertisementColumns"/>
		FROM advertisement a
		<include refid="advertisementJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO advertisement(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			picture,
			type,
			content,
			content2,
			state,
			issue_time,
			title,
			video,
			link,
			link2
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{picture},
			#{type},
			#{content},
			#{content2},
			#{state},
			#{issueTime},
			#{title},
			#{video},
			#{link},
			#{link2}
		)
	</insert>
	
	<update id="update">
		UPDATE advertisement SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			picture = #{picture},
			content = #{content},
			content2 = #{content2},
			type = #{type},
			state = #{state},
			issue_time = #{issueTime},
			title = #{title},
			video = #{video},
			link = #{link},
			link2 = #{link2}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM advertisement
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE advertisement SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Advertisement" statementType="STATEMENT">
		select * FROM advertisement  where ${propertyName} = '${value}'
	</select>
	
</mapper>