<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.statistics.mapper.StatisticsMapper">

	<select id="scoreRankingByUser" resultType="Statistics" >
		SELECT
			a.id as "user.id",
			a.name as "user.name",
			a.english_name AS "user.englishName",
			a.score AS "user.score",
			a.phone AS "user.phone",
			a.mobile AS "user.mobile",
			a.photo AS "user.photo",
			so.id as "office.id",
			so.name as "office.name"
		FROM
			sys_user a
			left join sys_user_office suo on a.id=suo.userid
			left join sys_office so on suo.officeid=so.id
			where a.user_type='3'
			<if test="teacher !=null and teacher.id != null and teacher.id != ''">
				and exists (
					select 1 from sys_user_office tsuo where tsuo.userid=#{teacher.id} and tsuo.officeid=suo.officeid
				)
			</if>
			<if test="office !=null and office.id != null and office.id != ''">
				and suo.officeid=#{office.id}
			</if>
			<if test="office !=null and office.name != null and office.name != ''">
				AND so.name like CONCAT('%', #{office.name}, '%')
			</if>
			<choose>
				<when test="page !=null and page.orderBy != null and page.orderBy != ''">
					ORDER BY ${page.orderBy}
				</when>
				<otherwise>
					ORDER BY a.score desc
				</otherwise>
			</choose>
	</select>

    <select id="homeworkStatistics" resultType="Statistics" >
        SELECT
            a.id as "user.id",
            a.name as "user.name",
            a.english_name AS "user.englishName",
            a.score AS "user.score",
            a.phone AS "user.phone",
            a.mobile AS "user.mobile",
            a.photo AS "user.photo",
            so.id as "office.id",
            so.name as "office.name",
            ifnull(suh.homeworkFinishToal,0) as "homeworkFinishToal",
            ifnull(suh.homeworkNotFinishToal,0) as "homeworkNotFinishToal"
        FROM
        sys_user a
        left join sys_user_office suo on a.id=suo.userid
        left join sys_office so on suo.officeid=so.id
        left join (
            select
            userid
            ,sum(case when state='0' then 1 else 0 end) as homeworkNotFinishToal
            ,sum(case when state='1' then 1 else 0 end) as homeworkFinishToal
            from sys_user_homework
            <where>
                <if test="beginTime != null and beginTime!='' and endTime != null and endTime!=''">
                    and create_date between str_to_date(CONCAT(#{beginTime},' 00:00:00'),'%Y-%m-%d %H:%i:%s') and str_to_date(CONCAT(#{endTime},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                </if>
                <if test="office !=null and office.id != null and office.id != ''">
                    and officeid=#{office.id}
                </if>
            </where>
            group by userid
        ) suh on a.id=suh.userid
        where a.user_type='3'
        <if test="teacher !=null and teacher.id != null and teacher.id != ''">
            and exists (
            select 1 from sys_user_office tsuo where tsuo.userid=#{teacher.id} and tsuo.officeid=suo.officeid
            )
        </if>
        <if test="office !=null and office.id != null and office.id != ''">
            and suo.officeid=#{office.id}
        </if>
        <if test="office !=null and office.name != null and office.name != ''">
            AND so.name like CONCAT('%', #{office.name}, '%')
        </if>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY suh.homeworkFinishToal desc
            </otherwise>
        </choose>
    </select>
</mapper>