<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.CouresOfficeMapper">
    
	<sql id="couresOfficeColumns">
		a.id AS "id",
		a.state as "state",

		a.officeid AS "office.id",
		so.name AS "office.name",
		so.campus AS "office.campus",

		nr.id AS "courseData.id",
        nr.data AS "courseData.data",
        nr.remarks AS "courseData.remarks",

		zj.name AS "courseInfo.name",
		zj.sort AS "courseInfo.sort",
		zj.title_type AS "courseInfo.titleType",
		zj.remarks AS "courseInfo.remarks",
		kc.name AS "father.name",
		kc.cover AS "father.cover",
		kc.level AS "father.level",
		kc.state AS "father.state",
		kc.sort AS "father.sort",
		kc.title_type AS "father.titleType",
		kc.remarks AS "father.remarks"
	</sql>
	
	<sql id="couresOfficeJoins">
		left join sys_office so on so.id=a.officeid
		left join course_data nr on nr.id=a.couresid
		left join course_info zj on zj.id=nr.courseid
		left join course_info kc on kc.id=zj.parent_id
	</sql>
	
    
	<select id="get" resultType="CouresOffice" >
		SELECT 
			<include refid="couresOfficeColumns"/>
		FROM sys_coures_office a
		<include refid="couresOfficeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="CouresOffice" >
		SELECT 
			<include refid="couresOfficeColumns"/>
		FROM sys_coures_office a
		<include refid="couresOfficeJoins"/>
		<where>
			${dataScope}
            <if test="office != null and office.id != null and office.id != ''">
                AND a.officeid = #{office.id}
            </if>
            <if test="courseInfo!=null and courseInfo.state != null and courseInfo.state != ''">
                AND kc.state = #{courseInfo.state}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY cast( kc.sort   as   SIGNED   INTEGER) ASC,cast( zj.sort   as   SIGNED   INTEGER) ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="CouresOffice" >
		SELECT 
			<include refid="couresOfficeColumns"/>
		FROM sys_coures_office a
		<include refid="couresOfficeJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_coures_office(
			id,
			officeid,
			couresid,
			state
		) VALUES (
			#{id},
			#{officeid},
			#{couresid},
			#{state}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_coures_office SET 	
			officeid = #{officeid},
			couresid = #{couresid},
			state = #{state}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM sys_coures_office
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_coures_office SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CouresOffice" statementType="STATEMENT">
		select * FROM sys_coures_office  where ${propertyName} = '${value}'
	</select>
	
</mapper>