<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.HomeworkOfficeMapper">
    
	<sql id="homeworkOfficeColumns">
		ifnull(a.id,'') AS "id",
		ifnull(a.officeid,'') AS "officeid",
		ifnull(a.homeworkid,'') AS "homeworkid",
		ifnull(h.name,'') as "homeworkName",
		ifnull(so.name,'') as "officeName",
		ifnull(a.statue,'') AS "statue",
		a.issue_date AS "issueDate",

        ifnull(h.id,'') AS "homework.id",
		ifnull(h.name,'') AS "homework.name",
		ifnull(h.type,'') AS "homework.type",
		ifnull(h.data1,'') AS "homework.data1",
		ifnull(h.data2,'') AS "homework.data2",
		ifnull(h.cover,'') AS "homework.cover",
		ifnull(h.course_level,'') AS "homework.courseLevel"
	</sql>
	
	<sql id="homeworkOfficeJoins">
		left join homework h on h.id=a.homeworkid
		left join sys_office so on so.id=a.officeid
	</sql>
	
    
	<select id="get" resultType="HomeworkOffice" >
		SELECT 
			<include refid="homeworkOfficeColumns"/>
		FROM sys_homework_office a
		<include refid="homeworkOfficeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="HomeworkOffice" >
		SELECT 
			<include refid="homeworkOfficeColumns"/>
		FROM sys_homework_office a
		<include refid="homeworkOfficeJoins"/>
		<where>
			
			${dataScope}
			<if test="officeid != null and officeid != ''">
				AND a.officeid = #{officeid}
			</if>
			<if test="homeworkid != null and homeworkid != ''">
				AND a.homeworkid = #{homeworkid}
			</if>
            <if test="statue != null and statue != ''">
                AND a.statue = #{statue}
            </if>
            <if test="beginIssueDate != null and endIssueDate != null ">
                AND a.issue_date BETWEEN #{beginIssueDate} AND #{endIssueDate}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="HomeworkOffice" >
		SELECT 
			<include refid="homeworkOfficeColumns"/>
		FROM sys_homework_office a
		<include refid="homeworkOfficeJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_homework_office(
			id,
			officeid,
			homeworkid,
			statue,
			issue_date
		) VALUES (
			#{id},
			#{officeid},
			#{homeworkid},
			#{statue},
			SYSDATE()
		)
	</insert>
	
	<update id="update">
		UPDATE sys_homework_office SET 	
			officeid = #{officeid},
			homeworkid = #{homeworkid},
			statue = #{statue}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM sys_homework_office
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_homework_office SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="HomeworkOffice" statementType="STATEMENT">
		select * FROM sys_homework_office  where ${propertyName} = '${value}'
	</select>

    <insert id="insertStudentHomework">
        INSERT INTO sys_user_homework(
            id,
            create_by,
            create_date,
            update_by,
            update_date,
            del_flag,
            state,
            userid,
            homeworkid,
            officeid
        )
        select
            UUID(),
            #{createBy.id},
            SYSDATE(),
            #{createBy.id},
            SYSDATE(),
            '0',
            '0',
            userid,
            #{homeworkid},
            officeid
        from sys_user_office
        where
        user_type='3'
        and officeid=#{officeid}

    </insert>

    <delete id="deleteStudentHomework">
        delete from sys_user_homework where homeworkid=#{homeworkid}
    </delete>

</mapper>