<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.UserOfficeMapper">

	<sql id="userOfficeColumns">
		a.officeid AS "officeid",
		a.userid AS "userid",
		a.user_type AS "userType",
		so.name AS "officeName",
		su.name AS "userName",
		a.id AS "id",
		su.photo AS "photo",
		su.login_name AS "loginName",
		su.score AS "score",
		su.english_name AS "englishName",
		su.mobile AS "mobile"
	</sql>

	<sql id="userOfficeJoins">
		left join sys_office so on a.officeid=so.id
		left join sys_user su on a.userid=su.id
	</sql>


	<select id="get" resultType="UserOffice" >
		SELECT
		<include refid="userOfficeColumns"/>
		FROM sys_user_office a
		<include refid="userOfficeJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="UserOffice" >
		SELECT
		<include refid="userOfficeColumns"/>
		FROM sys_user_office a
		<include refid="userOfficeJoins"/>
		<where>

			${dataScope}
            <if test="officeid != null and officeid != ''">
                AND a.officeid = #{officeid}
            </if>
			<if test="userid != null and userid != ''">
				AND a.userid = #{userid}
			</if>
			<if test="userType != null and userType != ''">
				AND a.user_type = #{userType}
			</if>

			<if test="loginName != null and loginName != ''">
				AND su.login_name like
				<if test="dbName == 'oracle'">'%'||#{loginName}||'%'</if>
				<if test="dbName == 'mysql'">CONCAT('%', #{loginName}, '%')</if>
				<if test="dbName == 'mssql'">'%'+#{loginName}+'%'</if>
			</if>
			<if test="userName != null and userName != ''">
				AND su.name like
				<if test="dbName == 'oracle'">'%'||#{userName}||'%'</if>
				<if test="dbName == 'mysql'">CONCAT('%', #{userName}, '%')</if>
				<if test="dbName == 'mssql'">'%'+#{userName}+'%'</if>
			</if>
			<if test="englishName != null and englishName != ''">
				AND su.english_name like
				<if test="dbName == 'oracle'">'%'||#{englishName}||'%'</if>
				<if test="dbName == 'mysql'">CONCAT('%', #{englishName}, '%')</if>
				<if test="dbName == 'mssql'">'%'+#{englishName}+'%'</if>
			</if>
			<if test="mobile != null and mobile != ''">
				AND su.mobile like
				<if test="dbName == 'oracle'">'%'||#{mobile}||'%'</if>
				<if test="dbName == 'mysql'">CONCAT('%', #{mobile}, '%')</if>
				<if test="dbName == 'mssql'">'%'+#{mobile}+'%'</if>
			</if>

		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
                order by a.user_type,a.id
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="UserOffice" >
		SELECT
		<include refid="userOfficeColumns"/>
		FROM sys_user_office a
		<include refid="userOfficeJoins"/>
		<where>

			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO sys_user_office(
		officeid,
		userid,
		user_type,
		id
		) VALUES (
		#{officeid},
		#{userid},
		#{userType},
		#{id}
		)
	</insert>

	<update id="update">
		UPDATE sys_user_office SET
		userid = #{userid},
		user_type = #{userType},
		id = #{id}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM sys_user_office
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_user_office SET
		del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="UserOffice" statementType="STATEMENT">
		select * FROM sys_user_office  where ${propertyName} = '${value}'
	</select>



</mapper>