<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.sys.mapper.UserHomeworkMapper">
    
	<sql id="userHomeworkColumns">
		ifnull(a.id,'') AS "id",
		ifnull(a.create_by,'') AS "createBy.id",
		a.create_date AS "createDate",
		ifnull(a.update_by,'') AS "updateBy.id",
		a.update_date AS "updateDate",
		ifnull(a.remarks,'') AS "remarks",
		ifnull(a.del_flag,'') AS "delFlag",
		ifnull(a.state,'') AS "state",
		a.finish_date AS "finishDate",
		ifnull(a.file,'') AS "file",
		ifnull(a.score,'') AS "score",
		ifnull(a.comment,'') AS "comment",

		ifnull(student.id,'') as "student.id",
		ifnull(student.name,'') as "student.name",
		ifnull(student.english_name,'') as "student.englishName",
		ifnull(student.score,'') as "student.score",

		ifnull(teacher.id,'') as "teacher.id",
		ifnull(teacher.name,'') as "teacher.name",
		ifnull(teacher.photo,'') as "teacher.photo",
		ifnull(teacher.english_name,'') as "teacher.englishName",

		ifnull(a.id,'') as "office.id",
		ifnull(so.name,'') as "office.name",

        ifnull(h.id,'') as "homework.id",
		ifnull(h.name,'') AS "homework.name",
		ifnull(h.type,'') AS "homework.type",
		ifnull(h.data1,'') AS "homework.data1",
		ifnull(h.data2,'') AS "homework.data2",
		ifnull(h.cover,'') AS "homework.cover",
		ifnull(h.course_level,'') AS "homework.courseLevel",
        ifnull(h.remarks,'') AS "homework.remarks",
        ifnull(h.state,'') AS "homework.state"
	</sql>
	
	<sql id="userHomeworkJoins">
        left join sys_user student on student.id=a.userid
        left join sys_user teacher on teacher.id=a.teacherid
		left join homework h on h.id=a.homeworkid
		left join sys_office so on so.id=a.officeid
	</sql>
	
    
	<select id="get" resultType="UserHomework" >
		SELECT 
			<include refid="userHomeworkColumns"/>
		FROM sys_user_homework a
		<include refid="userHomeworkJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="UserHomework" >
		SELECT 
			<include refid="userHomeworkColumns"/>
		FROM sys_user_homework a
		<include refid="userHomeworkJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="state != null and state != '' and state != '1,2'">
				AND a.state = #{state}
			</if>
            <if test="state == '1,2'">
                AND a.state in ('1','2')
            </if>
			<if test="beginFinishDate != null and endFinishDate != null ">
				AND a.finish_date BETWEEN #{beginFinishDate} AND #{endFinishDate}
			</if>
			<if test="score != null and score != ''">
				AND a.score = #{score}
			</if>
			<if test="comment != null and comment != ''">
				AND a.comment LIKE 
					<if test="dbName == 'oracle'">'%'||#{comment}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{comment}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{comment},'%')</if>
			</if>
            <if test="student!=null and student.id != null and student.id != ''">
                AND a.userid = #{student.id}
            </if>
			<if test="teacher!=null and teacher.id != null and teacher.id != ''">
				AND exists (
					select 1 from sys_user_office tsuo where tsuo.userid=#{teacher.id} and tsuo.officeid=a.officeid
				)
			</if>

            <if test="office!=null and office.name != null and office.name != ''">
                AND so.name LIKE concat('%',#{office.name},'%')
            </if>
            <if test="student!=null and student.name != null and student.name != ''">
                AND student.name LIKE concat('%',#{student.name},'%')
            </if>
            <if test="homework!=null and homework.name != null and homework.name != ''">
                AND h.name LIKE concat('%',#{homework.name},'%')
            </if>
            <if test="homework!=null and homework.type != null and homework.type != ''">
                AND h.type =#{homework.type}
            </if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY
				case when a.state='1' then 1 when a.state='2' then 2 else 3 end asc
				,a.create_date desc
			</otherwise>
		</choose>
	</select>

    <select id="findHomeworkGradingList" resultType="UserHomework" >

    </select>

	<select id="findAllList" resultType="UserHomework" >
		SELECT 
			<include refid="userHomeworkColumns"/>
		FROM sys_user_homework a
		<include refid="userHomeworkJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO sys_user_homework(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			state,
			finish_date,
			file,
			score,
			userid,
			teacherid,
			comment
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{state},
			#{finishDate},
			#{file},
			#{score},
			#{student.id},
			#{teacher.id},
			#{comment}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_user_homework SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			state = #{state},
			finish_date = #{finishDate},
			file = #{file},
			score = #{score},
			comment = #{comment},
			teacherid = #{teacher.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM sys_user_homework
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE sys_user_homework SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="UserHomework" statementType="STATEMENT">
		select * FROM sys_user_homework  where ${propertyName} = '${value}'
	</select>
	
</mapper>