<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.information.mapper.InformationMapper">
    
	<sql id="informationColumns">
		ifnull(a.id,'') AS "id",
		ifnull(a.create_by,'') AS "createBy.id",
		ifnull(a.create_date,'') AS "createDate",
		ifnull(a.update_by,'') AS "updateBy.id",
		ifnull(a.update_date,'') AS "updateDate",
		ifnull(a.remarks,'') AS "remarks",
		ifnull(a.del_flag,'') AS "delFlag",
		ifnull(a.title,'') AS "title",
		ifnull(a.content,'') AS "content"
	</sql>
	
	<sql id="informationJoins">
		
	</sql>
	
    <resultMap type="Information" id="InformationResult" autoMapping="true">
    	<result column="content" property="content"   typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>
    
	<select id="get" resultMap="InformationResult" >
		SELECT 
			<include refid="informationColumns"/>
		FROM information a
		<include refid="informationJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultMap="InformationResult" >
		SELECT 
			<include refid="informationColumns"/>
		FROM information a
		<include refid="informationJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="title != null and title != ''">
				AND a.title LIKE 
					<if test="dbName == 'oracle'">'%'||#{title}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{title}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{title},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultMap="InformationResult" >
		SELECT 
			<include refid="informationColumns"/>
		FROM information a
		<include refid="informationJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO information(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			title,
			content
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{title},
			#{content}
		)
	</insert>
	
	<update id="update">
		UPDATE information SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			title = #{title},
			content = #{content}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM information
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE information SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Information" statementType="STATEMENT">
		select * FROM information  where ${propertyName} = '${value}'
	</select>
	
</mapper>