<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.notice.mapper.NoticeMapper">
    
	<sql id="noticeColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.title AS "title",
		a.content AS "content",
		a.state AS "state"
	</sql>
	
	<sql id="noticeJoins">
		
	</sql>
	
    
	<select id="get" resultType="Notice" >
		SELECT 
			<include refid="noticeColumns"/>
		FROM notice a
		<include refid="noticeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Notice" >
		SELECT 
			<include refid="noticeColumns"/>
		FROM notice a
		<include refid="noticeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="title != null and title != ''">
				AND a.title LIKE 
					<if test="dbName == 'oracle'">'%'||#{title}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{title}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{title},'%')</if>
			</if>
			<if test="content != null and content != ''">
				AND a.content LIKE 
					<if test="dbName == 'oracle'">'%'||#{content}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{content}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{content},'%')</if>
			</if>
			<if test="state != null and state != ''">
				AND a.state = #{state}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Notice" >
		SELECT 
			<include refid="noticeColumns"/>
		FROM notice a
		<include refid="noticeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO notice(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			title,
			content,
			state
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{title},
			#{content},
			#{state}
		)
	</insert>
	
	<update id="update">
		UPDATE notice SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			title = #{title},
			content = #{content},
			state = #{state}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM notice
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE notice SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Notice" statementType="STATEMENT">
		select * FROM notice  where ${propertyName} = '${value}'
	</select>
	
</mapper>